{% extends 'mycash/base.html' %}
{% block title %}Income/Expense Details{% endblock %}

{% block body %}
<div class="col-sm-12">
    <div class="col-sm-6">
        <div class="pull-left" >
                <input type="button" class="btn btn-primary" value="&laquo;" id="prev" onclick="month_p()" />
            </div>
            <div class="pull-right">
                <input type="button" class="btn btn-primary" value="&raquo;" id="next" onclick="month_n()" />
            </div>
          <div class="clearfix"></div>

        <h2 id="titles"></h2>
        <table class="table">
            <thead>
                <tr id="row0">  <th></th><th></th><th></th><th></th><th></th><th></th><th></th> </tr>
            </thead>
            <tbody>
                <tr id="row1">  <td></td><td></td><td></td><td></td><td></td><td></td><td></td> </tr>
                <tr id="row2">  <td></td><td></td><td></td><td></td><td></td><td></td><td></td> </tr>
                <tr id="row3">  <td></td><td></td><td></td><td></td><td></td><td></td><td></td> </tr>
                <tr id="row4">  <td></td><td></td><td></td><td></td><td></td><td></td><td></td> </tr>
                <tr id="row5">  <td></td><td></td><td></td><td></td><td></td><td></td><td></td> </tr>
                <tr id="row6">  <td></td><td></td><td></td><td></td><td></td><td></td><td></td> </tr>
            </tbody>
        </table>

        <div id="current_date" class="text-center"><i onclick="update()">Today: </i></div>
        <div id="search_date">
            <form action="#" name="search" method="GET">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <select class="form-control" name="search_month">
                            <option value="0">January</option>
                            <option value="1">February</option>
                            <option value="2">March</option>
                            <option value="3">April</option>
                            <option value="4">May</option>
                            <option value="5">June</option>
                            <option value="6">July</option>
                            <option value="7">August</option>
                            <option value="8">September</option>
                            <option value="9">October</option>
                            <option value="10">November</option>
                            <option value="11">December</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <input class="date-own form-control" type="text" name="search_year" maxlength="4" size="4"/>
                        <script type="text/javascript">
                            $('.date-own').datepicker({
                                minViewMode: 2,
                                format: 'yyyy'
                            });
                        </script>
                    </div>
                    <div class="form-group col-md-3" url-endpoint="{% url 'mycash:historical-data' %}">
                        <input type="button" class="btn btn-primary" value="search" onclick="my_date()"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-6">

    </div>
</div>
{% endblock %}

{% block jquery %}
    calendar()
{% endblock %}

