{% extends 'mycash/base.html' %}
{% block title %}Manage Expense{% endblock %}

<!--
    ExpenseForm Created in the forms, this based on ModelForm, what it does is map the
    fields with the attributes of the class, and thus save it, update it and
    delete it.
        [CROUP]
-->

{% block body %}
    <br>
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        {% include 'mycash/form-template.html' %}
        <input class="btn btn-lg btn-success btn-block" type="submit" name="submit", value="SignIn">
    </form>
{% endblock %}