<!--
    ExpenseForm Created in the forms, this based on ModelForm, what it does is map the
    fields with the attributes of the class, and thus save it, update it and
    delete it.
        [CRUD]
-->

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if goal %}
            <form role="form" action="{% url 'mycash:upd-goal' goal.id %}" method="post">
        {% else %}
            <form role="form" action="{% url 'mycash:add-goal' %}" method="post">
        {% endif %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>Goal Form</h3>
            </div>

            <div class="modal-body">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-body">
                    {{ form.as_p }}
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-lg-12 text-right">
                    <input type="submit" class="btn btn-primary" name="submit" value="Save">
                    <button type="button" class="btn btn-default" onclick="return close_modal()">Exit</button>
                </div>
            </div>
        </form>
    </div>
</div>