{% extends 'mycash/base.html' %}
{% block title %}Manage Income{% endblock %}

<!--
    IncomeForm Created in the forms, this based on ModelForm, what it does is map the
    fields with the attributes of the class, and thus save it, update it and
    delete it.
        [CROUP]
-->

{% block body %}
    <br>
    <form method="post" class="form-horizontal">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.name.id_for_label }}" class="col-sm-2 control-label"> Income Name </label>
            <div class="col-sm-8">{{ form.name }}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.amount.id_for_label }}" class="col-sm-2 control-label"> Amount </label>
            <div class="col-sm-8">{{ form.amount  }}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.date.id_for_label }}" class="col-sm-2 control-label"> Date </label>
            <div class="col-sm-8">{{ form.date  }}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.category.id_for_label }}" class="col-sm-2 control-label"> Category</label>
            <div class="col-sm-8">{{ form.category  }}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.user.id_for_label }}" class="col-sm-2 control-label"> User</label>
            <div class="col-sm-8">{{ form.user  }}</div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <input class="btn btn-primary pull-rigth" type="submit" name="submit" value="Save">
            </div>
        </div>
    </form>
{% endblock %}