{% extends 'mycash/index.html' %}

<!--
    UserForm Created in the forms, this based on ModelForm, what it does is map the
    fields with the attributes of the class, and thus save it, update it and
    delete it.
        [CRUD]
-->

{% block body%}
<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-8 col-md-offset-2">
            <img src="https://cdn4.iconfinder.com/data/icons/silky-icon-user-filled-in/60/users2-2-512.png" class="img-responsive center-block" style="width:35%" alt="Image">
            <hr>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign In</h3>
                </div>
                <div class="panel-body">
                    <span class="text-danger small">{{ msg }}</span>
                    <form method="post" class="form-horizontal">
                        {% csrf_token %}
                        {% include 'mycash/form-template.html' %}
                        <input class="btn btn-lg btn-success btn-block" type="submit" name="submit", value="Sign In">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}