{% extends 'mycash/index.html' %}

<!--
    UserForm Created in the forms, this based on ModelForm, what it does is map the
    fields with the attributes of the class, and thus save it, update it and
    delete it.
        [CRUD]
-->

{% block body%}
<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-6 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign Up</h3>
                </div>
                <div class="panel-body">
                    <form method="post" class="form-horizontal">
                        {% csrf_token %}
                        {% include 'mycash/form-template.html' %}
                        <input class="btn btn-lg btn-success btn-block" type="submit" name="submit", value="Sign Up">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}